body {
    font-family: 'Cormorant Garamond', serif;
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-right: 40px; 
    margin-left: 40px;
  }

#sections {
position: absolute;
display: inline-block;
width: 450px;
top: 0px;
z-index: 90;
}

.step {
margin-bottom: 500px;
}

.s_small {
    margin-bottom:100px;
}

.visuals {
position: fixed;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
